html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* boxes */

.boxes {
  display: flex;
}
.box {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.box:last-child {
  margin-right: 0;
}
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  background-color: steelblue;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
.heading>h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 auto;
}
.bottom {
  flex-grow: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.score {
  text-align: center;
  padding: 10px;
}
.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}