@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500|Montserrat:400,700);
@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Book.eot");
  src: url("../../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/AvenirLTStd-Book.woff") format("woff"), url("../../fonts/AvenirLTStd-Book.ttf") format("truetype"), url("../../fonts/AvenirLTStd-Book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Medium.eot");
  src: url("../../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../../fonts/AvenirLTStd-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "eventicons";
  src: url("../../fonts/eventicons.eot");
  src: url("../../fonts/eventicons.eot?#iefix") format("embedded-opentype"), url("../../fonts/eventicons.ttf") format("truetype"), url("../../fonts/eventicons.svg#eventicons") format("svg"), url("../../fonts/eventicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

/* boxes */

.boxes {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}
.box:last-child {
  margin-right: 0;
}
.box.show {
  transform: scale(46);
}
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  background-color: steelblue;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
.heading>h1 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.1
}
.bigRgb {
  margin: 0px;
  font-size: 3em;
}
.bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.score {
  text-align: center;
  padding-top: 15px;
}
.rgb-text {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Source Code Pro', Courier New, Courier, monospace;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.modal.show {
  display: flex;
}
.modal-button {
  margin: 0 auto;
  margin-top: 80px;
  width: 120px;
  border: 1.5px solid #ffffff;
  font-size: 1.1em;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}
.modal-title {
  font-size: 3.5em;
  /* margin-bottom: 5px; */
}
.modal-score {
  font-size: 1.4em;
  margin-bottom: 8px;
}