html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

/* boxes */

.boxes {
  display: flex;
}
.box {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}
.box:last-child {
  margin-right: 0;
}
.box.show {
  transform: scale(46);
}
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  background-color: steelblue;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
.heading>h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 auto;
}
.bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.score {
  text-align: center;
  padding-top: 10px;
}
.rgb-text {
  margin-bottom: 10px;
}
.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal.show {
  display: flex;
}
.modal-button {
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}
.modal-title {
  margin-bottom: 5px;
}
.modal-score {
  margin-bottom: 8px;
}